/*
Name: David Hawkes
Date: 2018-10-02
Purpose: Custom CSS for a room booking web application.
*/

/* Placement and width of booking form */
#bookingForm{
    width: 700px;
    margin: 0 auto;
}
/* Placement and width of results page */
#bookingResults{
    width: 700px;
    margin: 0 auto;
}
/* Center the h1s */
h1{
    text-align: center;
}
/* Center the images with the class */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/* Change color of required asterisks */
#required{
    color: red;
}