/*
Name: David Hawkes
Date: 2018-09-16
Purpose: To apply and manage sets of style characteristics for the refreshMe.php assignment.
 */

/* Sets the size, borders, background colour, text colour, and location of the main div. It should be noted that it
looked, to me, as if the text colour of the h2s and the text of the paragraphs/list were two subtly different colours.
This may have been my eyes playing tricks on me. */
#container {
    width: 700px;
    border: solid white 1px;
    border-right: solid white 5px;
    background-color: #0293ff;
    color: beige;
    margin-top: 20px;
    margin-left: 25px;
    padding: 20px;
}
/* Background color of the entire page. */
body {
    background-color: darkblue;
}
/* The border of the 1st h2. */
#reality {
    border-left: solid yellow 1px ;
}
/* The border of the 2nd h2. */
#list {
    border-left: solid brown 1px;
}
/* The border of the 3rd h2. */
#dnds {
    border-top: solid black 10px;
    border-right: solid black 10px;
}
/* Sets the list style of the ordered list. */
ol {
    list-style-type: lower-roman;
}
/* Colour, placement, underline and italics of all h2s. */
h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
/* Will add italics to all words in this class. */
.italicizedWords {
    font-style: italic;
}
/* Will bolden each letter in the rainbow word. */
#rainbow{
    font-weight: bold;
}
/* Sets the colour for each letter in the rainbow word. */
.redLetter{
    color: red;
}
.blueLetter {
    color: blue;
}
.greenLetter{
    color: green;
}
.purpleLetter{
    color: purple;
}
/* Sets location of the date/time paragraph. */
#date{
    text-align: center;
}
/* Location, size, background colour of the mysterious black box. */
#mysteryBox {
    background-color: black;
    text-align: center;
    width: 20px;
    height: 130px;
    position: absolute;
    left: 770px;
    top: 65px;
}
/* Fixes location of the contents of the mysterious black box. */
#mysteryBox > p {
    margin: 0px;
}