/*
Name: David Hawkes
Date: 2018-10-28
Purpose: Custom CSS for a web app that creates album objects
*/

/* Placement and size of the content on the page */
#container{
    width: 650px;
    margin: auto;
    text-align: center;
}

/* A little more space for the h3s */
h3{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Change color of required id (i.e. asterisks) */
#required{
    color: red;
}

/* Will make the labels bold when the album object is displayed */
#label{
    font-weight: bold;
}