/*
Name: David Hawkes
Date: 2018-11-13
Purpose: A custom css file for an online trivia game.
*/

/* Placement and size of the content on the page */
#container{
    width: 700px;
    margin: auto;
}

/* Center the text of h1 */
h1{
    text-align: center;
}

/* Change the background colour of the table row depending on the answer to the question */
.correct{
    background-color: #5cb85c;
}
.incorrect{
    background-color: #d9534f;
}