/*
Name: David Hawkes
Date: 2018-11-25
Purpose: A custom css file for a web page that will search the CIS2288 database for employees.
*/

/* Styles for the main container */
#employeeArea{
    width: 650px;
    margin: 20px auto;
    padding: 5px 50px 50px 50px;
    background-color: white;
    font-size: 12px;
}

/* Styles for results table and rows */
.resultsTable{
    width: 100%;
}
.firstCol{
    width: 30%;
}
.lastCol{
    width: 30%;
}
.middleCol{
    width: 20%;
}
th {
    background-color: white;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #DFDFE6;
}

/* Styles for the body */
body{
    background-color: slategrey;
}

/* Center the h1 */
h1{
    text-align: center;
}