/*
Name: David Hawkes
Date: 2018-10-12
Purpose: Custom CSS for an organinc vegetable ordering web application.
*/

/* Placement and size of the content on the page */
#container{
    width: 700px;
    margin: auto;
}

/* Sets background image and size of header div */
.page-header{
    background: url("../media/organicVeg.jpg") no-repeat;
    background-size: 100%;
    height: 392px;
    border: black solid 1px;
}

/* Determines the placement, colour, and gives a black outline */
h1{
    margin-top: 15%;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 #000,
                  2px -2px 0 #000,
                 -2px 2px 0 #000,
                  2px 2px 0 #000;
}

/* Change color of required asterisks */
#required{
    color: red;
}